<div class="container mt-5">
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        Charity: <%= booking.charity.name %> - 
        Seeker: <%= booking.user.first_name %> <%= booking.user.last_name %> - 
        Product: <%= booking.product.title %> - 
        Status: <%= booking.status %>
        <% if booking.status == "Pending" %>
           - Mark as: 
          <%= link_to(accept_booking_path(booking), method: :get, data: { confirm: "Are you sure you want to accept this booking?"}) do %>
            <%= "Accept" %>
          <% end %>
          <%= link_to(decline_booking_path(booking), method: :get, data: { confirm: "Are you sure you want to decline this booking?"}) do %>
            <%= "Decline" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="mt-2">
    <%= link_to "Back to all products", products_path, class: "btn btn-primary mt-3" %>
  </div>
</div>


