<div class="container my-4">
  <h1>Your bookings</h1>
    <div class="row">
      <div class="col-md">
        <ul class="list-group mt-4">
          <h4>Bookings for paintings:</h4>
          <% if @bookings.empty? %>
            You have no bookings
          <% else %>
            <% @bookings.each do |booking| %>
              <li class="list-group-item mt-1">
                <div class="d-flex align-items-center justify-content-between">
                  <div>
                    <%= link_to product_path(booking.product) do %>
                      <div class="mx-3"><%= booking.product.title %></div>
                    <% end %>
                  </div>
                  <div>
                    <% if booking.status == "Pending" %>
                      <%= link_to(accept_booking_path(booking), method: :get, data: { confirm: "Are you sure you want to accept this offer?"}) do %>
                        <%= "Accept" %>
                      <% end %>
                      <%= link_to(decline_booking_path(booking), method: :get, data: { confirm: "Are you sure you want to decline this offer?"}) do %>
                        <%= "Decline" %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <div class="mt-2">
    <%= link_to "Back to all seekers", seekers_path, class: "btn btn-primary mt-3" %>
  </div>
</div>



