<% content_for :meta_title, "#{@user.name}'s Seeker Profile | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.description %>

<% if @user.photo.attached? %>
  <% content_for :meta_image, cl_image_path(@user.photo.key) %>
<% end %>

<div class="container my-5">

  <div class="seeker-card">
    <div class="seeker-content">
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, height: 400, width: 400, gravity: 'face', crop: :fill %>
      <% end %>

      <div class="seeker-description">
        <h2 class="seeker-name"><%= @user.name %></h2>

        <%= @user.description %>
      </div>
    </div>
  </div>

  <% if @user.charity_id == current_user.charity_id && @unchosen_categories.present? %>
    <button type="button" class="btn btn-secondary mt-3 w-100" data-toggle="modal" data-target="#request-modal">
      Add a request
    </button>
  <% end %>

  <h3 class="mt-4 mb-2"><%= @user.first_name %>'s requests: </h3>

  <% if @user.requests.present? %>
    <ul class="seeker-requests-list">

      <% @user.requests.each do |request| %>

        <li class="list-item-card">
          <div class="d-flex align-items-center">

            <div class="offer-list-item-content d-flex flex-grow-1 align-items-center justify-content-between">
              <div class="d-flex align-items-center">

                <div class="ml-2 mr-5">
                  <% if request.category.photo.attached? %>
                    <%= cl_image_tag request.category.photo.key, class: "request-category-icon" %>
                  <% end %>
                </div>

                <div><%= request.description %></div>
              </div>

              <div class="mr-4"><%= request.created_at.strftime("%b %d, %Y") %></div>
            </div>

            <%= link_to new_product_path(request_id: request.id) do %>
              <div class="btn btn-primary justify-self-end">Donate</div>
            <% end %>

          </div>
        </li>

      <% end %>

    </ul>
  <% else %>
    <div class="seeker-requests-list">
      <%= @user.first_name %> currently doesn't have any requests!
    </div>
  <% end %>
</div>

<div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <%= render 'requests/form/form_content' %>

  </div>
</div>


