<div class="container">
  <h2>Seeker info</h2>
  <p><%= @user.first_name %></p>
  <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>

  <button type="button" class="btn btn-primary mt-4" data-toggle="modal" data-target="#request-modal">
    Add a request
  </button>

  <h3><%= @user.first_name %> needs: </h3>
  <ul>
    <% @user.requests.each do |request| %>
      <li>
        <%= request.category.title %>
      </li>
    <% end %>
  </ul>

  <%= link_to "Go back to all seekers", seekers_path %>
</div>

<div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <%= render 'requests/form/form_content' %>
  </div>
</div>