<div class="navbar navbar-expand-sm navbar-dark justify-content-start navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/ds32iiece/image/upload/v1614871302/tech-white_yeuwpx.svg" %>
  <% end %>

  <div class="flex-grow-1">
    <ul id="navbar-links" class="navbar-nav flex-direction-row w-100">
      <li class="nav-item active">
        <%= link_to "home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "about", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "charities", charities_path, class: "nav-link" %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-item dropdown ml-auto">
          <%= image_tag "https://ca.slack-edge.com/T02NE0241-U01JGBP2KFE-8e0eca34d966-512", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if current_user.kind == "Donator" %>
              <%= link_to "Your donations/offers", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Requests", requests_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% elsif current_user.kind == "Charity worker" %>
            
              <div class="container text-primary">Donate</div>
              <%= link_to "Your donations/offers", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Requests", requests_path, class: "dropdown-item" %>

              <div class="container text-warning">Charity</div>
              <%= link_to "Your charity", charity_path(current_user.charity), method: :get, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% else %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% end %>
            
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-secondary btn-rounded-50 mr-2 px-4" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-rounded-50 px-4" %>
        </li>
      <% end %>
    </ul> 
  </div>
</div>
