<div class="seekers-container">
  <div class = "bc">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1573496005375-5c898f5275e9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
      <h1>Give the gift of <strong>technology</strong> to someone in need</h1>
    </div>
  </div>
  <div class="container my-5">
    <h1>All requests</h1>
    <div class="request-cards text-center">
      <% @requests.each do |request| %>
        <%= link_to request_path(request) do %>
          <div class="request-card">
            <div class="avatar-request-box">
              <% if request.user.photo.attached? %>
                <%= cl_image_tag request.user.photo.key, height: 300, width: 400, crop: :thumb, gravity: 'face', class: 'avatar-large request-avatar', alt: 'avatar-large' %>
              <% end %>
              <% if request.category.photo.attached? %>
                <%= cl_image_tag request.category.photo.key %>
               <% end %>
            </div>
            <div class="request-details">
              <%= request.user.first_name %> needs a <%=  request.category.title.downcase %>
            </div>
          </div>
        <% end %>
      <% end  %>
    </div>
  </div>
</div>
