<% content_for :meta_title, "All Charities | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "All of the charities that use #{DEFAULT_META["meta_product_name"]}" %>

<div class="container my-5">
  <h1>Charities</h1>
  <div class="request-cards text-center">
    <div class="row">
      <% @charity.each do |charity| %>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card-product opacity-hover-none">
            <div class="card-body d-flex flex-column">
              <%= link_to charity_path(charity) do %>
                <h5 class="card-title"><%= charity.name %></h5>
              <% end %>
              <button type="button" class="btn btn-primary mt-5" data-toggle="modal" data-target="#chat-modal-<%= charity.id %>">
                Chat with us
              </button>

              <div class="modal fade" id="chat-modal-<%= charity.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <%= render 'shared/whatsapp', charity: charity %>
                </div>
              </div>
              
              <%= link_to "Visit our Website", "http://#{charity.website}", target: "_blank" , class: "btn btn-dark text-white mt-3" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


