<div class="container my-5">
  <h1>Charities</h1>
    <div class="request-cards text-center">
      <% @charity.each do |charity| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <%= link_to charity_path(charity) do %>
              <h5 class="card-title"><%= charity.name %></h5>
            <% end %>
            <button type="button" class="btn btn-primary mt-3" data-toggle="modal" data-target="#chat-modal-<%= charity.id %>">
              Chat with us
            </button>

            <div class="modal fade" id="chat-modal-<%= charity.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <%= render 'shared/whatsapp', charity: charity %>
              </div>
            </div>
            
            <%= link_to "Visit our Website", "http://#{charity.website}", target: "_blank" , class: "btn btn-dark text-white mt-3" %>
          </div>
        </div>
      <% end %>
  </div>
</div>


