<div class="container my-5">
  <h1>Charities</h1>
    <div class="request-cards text-center">
      <% @charity.each do |charity| %>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <%= link_to charity_path(charity) do %>
              <h5 class="card-title"><%= charity.name %></h5>
            <% end %>
            <div class="whatsapp-section">
              <div class="whatsapp-section-desktop">
                <p>Scan to chat with us on whatsapp:</p>
                <%= charity.generate_qr_code.html_safe %>
              </div>
              <div class="whatsapp-section-mobile">
                or click <%= link_to "here", "https://wa.me/#{charity.whatsapp_number.gsub("+", "")}", class: "whatsapp-section-mobile-link" %> to open whatsapp desktop
              </div>
            </div>

            <%= link_to "Visit our Website", "http://#{charity.website}", :target => "_blank" , class: "btn btn-primary mt-3" %>
          </div>
        </div>
      <% end %>
  </div>
</div>


