<% content_for :meta_title, "#{@charity.name.titleize} | #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "All of the seekers from #{@charity.name}" %>
  <div class="show_container">
    <div class="text_container">
      <h1><%= @charity.name.titleize %></h1>
      <h5><%= @charity.description %></h5>
    </div>
  </div>
<div class="container my-5">
  <div>
    <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">

      <li class="nav-item" role="presentation">
        <button class="nav-link <%= 'active' unless params[:tab] == "2" %>" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Our seekers</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link <%= 'active' if params[:tab] == "2" %>" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Offers</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Register a new seeker</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade <%= 'show active' unless params[:tab] == "2" %>" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="mt-3">
          <div class="row p-3">
            <% @our_seekers.each do |our_seeker| %>
              <%= render 'shared/seeker_card', user: our_seeker, seeker_request: nil %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade <%= 'show active' if params[:tab] == "2" %>" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="d-flex p-3">
          <div class="col m-6">
            <%= render 'bookings/booking_items', bookings: @charity.bookings.order(created_at: :desc), charity: @charity, status: "Pending" %>
          </div>
          <div class="col m-6">
            <%= render 'bookings/booking_items', bookings: @charity.bookings.order(created_at: :desc), charity: @charity, status: "Accepted" %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <%= render 'users/new_form'%>
        <a class="nav-link" href="#"></a>
      </div>
    </div>
  </div>
</div>
