<div class="container my-5">
  <div>
    <h2>Charity <%= @charity.name %></h2>

<!--     <h4>Website <%= @charity.website %></h4>
    <h4>Number <%= @charity.whatsapp_number%></h4> -->
  </div>
</div>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Our seekers</a>
    <% @our_seekers.each do |our_seeker| %>
                <%= render "_charity_card.html.erb", our_seeker: our_seeker %>
                 <% end %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Offer</a>
     <% @requests.each do |request| %>
                <%= render "_request_card.html.erb", request: request %>
                 <% end %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Register a new seeker</a>
  </li>
</ul>
