<div class="container my-5">
  <div>
    <h2>Charity <%= @charity.name %></h2>

<!--     <h4>Website <%= @charity.website %></h4>
    <h4>Number <%= @charity.whatsapp_number%></h4> -->



<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Our seekers</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Offers</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Register a seeker</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <% @our_seekers.each do |our_seeker| %>
                <%= render "_charity_card.html.erb", our_seeker: our_seeker %>
                 <% end %>
                 </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
  <%= render 'bookings/booking_items', bookings: @charity.bookings %>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
  <%= render 'users/new_form'%>
  </div>
</div>
  </div>
</div>
