 
<div class="container">
  <div class="card">
    <div class="card-body">

      <% if @request %>
        <% action = products_path(request_id: @request.id) %>
      <% else %>
        <% action = products_path %>
      <% end %>

      <%= simple_form_for product, url: action do |f| %>
        <div class="form-row">
          <div class="col-md-4">
            <%= f.input :title %>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-3">
            <%= f.association :category, disabled: (params[:request_id].present?) %>
          </div>
          <div class="form-group col-md-3">
            <%= f.input :condition, collection: Product::CONDITIONS %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <%= f.input :description %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <%= f.input :address %>
          </div>
          <div class="col">
            <%= f.input :photo, as: :file %>
          </div>
        </div>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>

      <br><br>
      <div class="card" style="width: 55rem;">
        <ul class="list-group list-group-flush">
        <h6><b>Condition</b></h6>
          <li class="list-group-item">New - Brand new, never used,undamaged item. Ideally in the original package.</li>
          <li class="list-group-item">Used (like new) - Excellent condition, but has previously been used. No signs of wear or defects</li>
          <li class="list-group-item">Used (good) - Minor signs of wear. Item is operational and works as intended.</li>
          <li class="list-group-item">Used (fair) - Some signs of wear and tear or minor defects. Item is still usable as intended.</li>
        </ul>
      </div> 
    </div>
  </div>
</div>
