<div id= "product-new-form" class="card px-3 mx-auto" style= "max-width:500px">
  <div class="card-body">
    <% if @request %>
      <% action = products_path(request_id: @request.id) %>
    <% else %>
      <% action = products_path %>
    <% end %>
    <%= simple_form_for product, url: action do |f| %>
      <div class="form-row">
          <%= f.input :title, class: "w-100" %>
      </div>
      <div class="form-row">
          <%= f.association :category, disabled: (params[:request_id].present?) %>
          <%= f.input :condition, collection: Product::CONDITIONS %>
        <div class= "mb-3">
          <%= link_to "Condition Information", "#", data:{toggle: "modal", target: "#exampleModal"} %>
        </div>
      </div>
      <div class="row mx-0">
          <%= f.input :description, class: "w-100" %>
      </div>
      <div class="row mx-0">
          <%= f.input :address, class: "w-100" %>
      </div>
      <div class="row">
        <div class="col">
          <%= f.input :photo, as: :file %>
        </div>
      </div>
      <%= f.button :submit, "List your donation", class: 'btn btn-primary mt-2' %>
    <% end %>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Condition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>New - Brand new, never used,undamaged item. Ideally in the original package.</p>
        <p>Used (like new) - Excellent condition, but has previously been used. No signs of wear or defects</p>
        <p>Used (good) - Minor signs of wear. Item is operational and works as intended.</p>
        <p>Used (fair) - Some signs of wear and tear or minor defects. Item is still usable as intended.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>