<div class="card">
  <div class="card-body">

    <% if @request %>
      <% action = products_path(request_id: @request.id) %>
    <% else %>
      <% action = products_path %>
    <% end %>

    <%= simple_form_for product, url: action do |f| %>
      <div class="form-row">
        <div class="col-md-4">
          <%= f.input :title %>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <%= f.association :category, disabled: (params[:request_id].present?) %>
        </div>
        <div class="form-group col-md-3">
          <%= f.input :condition, collection: Product::CONDITIONS %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <%= f.input :description %>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <%= f.input :address %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.input :photo, as: :file %>
        </div>
      </div>
      <%= f.button :submit, "List your donation", class: 'btn btn-primary mt-2' %>
    <% end %>

    <div>
      <div class="condition-container">
        <h6 class="condition-header">Condition</h6>
        <p>New - Brand new, never used,undamaged item. Ideally in the original package.</p>
        <p>Used (like new) - Excellent condition, but has previously been used. No signs of wear or defects</p>
        <p>Used (good) - Minor signs of wear. Item is operational and works as intended.</p>
        <p>Used (fair) - Some signs of wear and tear or minor defects. Item is still usable as intended.</p>
      </div>
    </div> 
  </div>
</div>
