<div class="container">
  <%= simple_form_for [@product, @booking] do |f| %>
    <div class="row">
      <div class="col">
        <%= f.input :user %>
      </div>
    </div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>

    <!-- Map with markers -->
    <div id="map" data-marker="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>

