<div class="container my-5">
  <div>
    <h2>Product <%= @product.title %></h2>
    <h4>Donator <%= @product.user.first_name %> <%= @product.user.last_name %></h4>
    <h4>Status <%= @product.status %></h4>
    <p>Description <%= @product.description %></p>
  </div>

   <h4 class="mt-4">Location: <%= @product.address %></h4>
   <!-- Map with markers -->
   <div id="map" data-marker="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
   </div>
</div>
