<div class="container my-5">
  <div class="d-flex">
    <% if @product.photo.key %>
      <%= cl_image_tag @product.photo.key %>
    <% end %>

    <div>
      <h2>Product <%= @product.title %></h2>
      <h4>Status <%= @product.condition %></h4>
      <div class="d-flex justify-content-between">
      
        <div><%= @product.posted_ago %></div>
      </div>
      <p>Description <%= @product.description %></p>
    </div>
  </div>

   <h4 class="mt-4">Location: <%= @product.address %></h4>
   <!-- Map with markers -->
   <div id="map" data-marker="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
   </div>
</div>
